<div class="row">
	<div class="col-md-2 offset-md-5 mt-4">
		<div class="row  text-center" >
			<div class="col" style="border-right:1px solid">
				<a [routerLink]="['/login']" 
				routerLinkActive="active"><h3>Login</h3></a>
			</div>
			<div class="col">
				<a [routerLink]="['/register']" 
				routerLinkActive="active"><h3>Register</h3></a>
				
			</div>
		</div>
		<hr>
		<form #f="ngForm" (ngSubmit)="onSubmit()">
			<div class="form-group">
				<label for="registerEmail">Email</label>
				<input type="email" name="email" [(ngModel)]="model.email" required #email="ngModel" class="form-control" id="registerEmail"
					   placeholder="Enter email">
			</div>
			<div class="form-group">
				<label for="registerPassword">Password</label>
				<input type="password" name="password" [(ngModel)]="model.password" required #password="ngModel" class="form-control"
					   id="registerPassword" placeholder="Password">
			</div>
			<div class="form-group">
				<label for="inputRole">User Role (THIS IS A ROLE)</label>
				<select id="inputRole" class="form-control" #role (change)="roleChange(role.value)">
					<option value="" disabled>Choose a role</option>
					<option *ngFor="let role of roleOptions" [ngValue]="role">
						{{ role }}
					</option>

				</select>
			</div>
			<div class="form-group">
				<label for="inputClaim">Claim (THIS IS A Claim)</label>
				<select id="inputClaim" class="form-control" #claim (change)="claimChange(claim.value)">
					<option value="" disabled>Choose a Developer Type</option>
					<option *ngFor="let type of developerType" [ngValue]="type">
						{{ type }}
					</option>

				</select>
			</div>
			<br>
			<button type="submit" 
			[disabled]="f.invalid" 
			class="btn btn-primary form-control">Register <i class="fas fa-sign-in-alt"></i></button>
		</form>
	</div>
</div>