<ng-progress id="progressBar" 
	[thick]="true" [color]="progressBar.currentColor"></ng-progress>
<ngx-alerts></ngx-alerts> 
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	<div class="container-fluid">
		<a class="navbar-brand" [routerLink]="['']" 
		routerLinkActive="router-link-active">
		ASP .NET Angular Contact Book</a>
		<button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
		<div  
		class="navbar-collapse collapse "
        [ngClass]="{ show: isExpanded }" id="navbarColor01">
			<ul class="navbar-nav" style="margin-right: auto;">
				<li class="nav-item" *ngIf="isAdmin()">
					<a class="nav-link" [routerLink]="['admin']" 
					routerLinkActive="active">
					<i class="fas fa-user-shield"></i> Admin</a>
				</li>
				<li class="nav-item" *ngIf="isManager()">
					<a class="nav-link" [routerLink]="['manager']" 
					routerLinkActive="Manager">
					<i class="fas fa-user-cog"></i> Manager</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" [routerLink]="['']"
					 routerLinkActive="router-link-active">
					 <i class="fas fa-home"></i> Home</a>
				</li>
				<li class="nav-item" *ngIf="isLogined()">
					<a class="nav-link" [routerLink]="['contact']"
					 routerLinkActive="router-link-active">
					 <i class="fas fa-phone"></i> Contact List</a>
				</li>
			</ul>
			<app-auth-links style="margin-left: auto;"></app-auth-links>
		</div>
	</div>
</nav>